<div class="page-wrapper">
    <div class="banner-overlay"></div>
    <div class="page-banner">

    </div>
    <div class="baner-caption rotate">
        <h1>START YOUR CAREER TODAY BY EXPLORING JOBS WITHIN CLICKS</h1>
    </div>
</div>

<div class="section-2 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 post-block" *ngFor="let item of postDetails;let i = index;">
                <div class="item-wrap">
                    <span style="cursor: pointer;" class="delete-post" title="Delete Job Post" *ngIf="checkIfUserIsAdmin()" (click)="deletePost(deletetemplate, item)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                    <div class="logo-part">
                        <span class="logo-wrap">
                                <img [src]="item.displayImg" class="job-image" />
                        </span>
                    </div>
                    <div class="content-part mt-4" title="{{item?.JobTitle}}">
                        {{getJobTitle(item?.JobTitle)}}
                    </div>
                    <div class="content-footer">
                        <p><span class="ft-text">Location: </span>
                            <span class="ft-val">{{item?.JobLocation!=='' ? item?.JobLocation : 'Not Available'}}</span></p>
                        <a class="view-details" style="cursor: pointer;" (click)="showPopUp(imageModalTemplate, item)">View Details</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="add-new" (click)="addNewPost(template)">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 292.377 292.377" style="enable-background:new 0 0 292.377 292.377;" xml:space="preserve">
            <g>
                <path style="cursor: pointer; fill:orange;" d="M146.188,0C65.576,0,0,65.582,0,146.188s65.576,146.188,146.188,146.188
               s146.188-65.582,146.188-146.188S226.801,0,146.188,0z M194.962,152.155h-42.806v42.8c0,3.3-2.667,5.967-5.967,5.967
               c-3.3,0-5.967-2.667-5.967-5.967v-42.8H97.415c-3.294,0-5.967-2.673-5.967-5.967s2.673-5.967,5.967-5.967h42.806V97.415
               c0-3.294,2.667-5.967,5.967-5.967c3.3,0,5.967,2.673,5.967,5.967v42.806h42.806c3.3,0,5.967,2.673,5.967,5.967
               S198.261,152.155,194.962,152.155z" />
            </g>
        </svg>
    </div>
</div>
<!-- <div class="card-container fluid-container">
    <div class="row">
        <div class="col-sm-12 mt-3" *ngFor="let item of postDetails">
            <div class="card">
                <div class="card-body">
                    <div class="body-content">
                        <div class="img-placeholder mr-2">
                            <div class="img-wrapper" *ngIf="item?.PostImage === null">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 472.616 472.616" style="enable-background:new 0 0 472.616 472.616;" xml:space="preserve">
                                    <g>
                                        <path class="def-stoke" d="M289.966,231.969c0-59.62,10.963-111.865,29.163-149.142c-106.982,61.473-200.795,65.399-247.864,68.235
                                            c-26.466,1.594-50.836,18.818-63.507,45.789c-10.328,21.985-10.267,47.902-0.288,70.044
                                            c12.575,27.909,37.087,46.209,63.794,45.979c4.422-0.038,9.716,0.029,15.604,0.228c-9.535,42.911,15.044,88.307,59.25,107.464
                                            c13.51,5.855,27.754,8.798,41.875,8.798c11.005,0,21.937-1.788,32.38-5.394c24.149-8.327,42.817-25.308,52.563-47.798
                                            c2.269-5.231,3.807-10.71,4.981-16.27c13.534,6.253,27.315,13.293,41.251,21.284C300.946,343.904,289.966,291.633,289.966,231.969
                                            z M254.87,368.344c-7.524,17.356-22.052,30.499-40.919,37.01c-19.177,6.615-40.494,5.596-60.004-2.866
                                            c-36.58-15.848-56.599-53.562-47.13-88.204c37.589,3.05,91.884,12.199,152.715,37.529
                                            C258.702,357.498,257.161,363.056,254.87,368.344z" />
                                    </g>
                                    <g>
                                        <path class="def-stoke" d="M391.137,43.253c-32.566,0-60.587,44.358-73.632,108.315c43.489,1.036,78.566,36.668,78.566,80.402
                                            c0,43.733-35.079,79.356-78.567,80.392c13.043,63.959,41.065,108.319,73.633,108.319c45,0,81.479-84.491,81.479-188.714
                                            S436.137,43.253,391.137,43.253z" />
                                    </g>
                                    <style>
                                        .def-stoke {
                                            fill: orange;
                                        }
                                    </style>

                                </svg>
                            </div>
                            <div class="img-wrapper" *ngIf="item?.PostImage !== null">
                                <img src="{{getImagePath(item)}}" class="job-image" />
                            </div>
                        </div>
                        <div class="post-details">
                            <h5 class="card-title">{{item?.JobTitle}}</h5>
                            <div class="post-desc" *ngIf="item?.PostImage === null">
                                <div class="location">
                                    <span class="company-icon mr-1">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            width="20.5px" height="15.5px" viewBox="0 0 32.5 32.5" style="enable-background:new 0 0 32.5 32.5;" xml:space="preserve">
                                            <g>
                                                <polygon class="gray-out" points="3.871,14.486 6.984,12.077 6.984,29.77 11.798,29.77 11.798,12.121 3.871,7.591 		"/>
                                                <polygon class="gray-out" points="0,29.77 5.852,29.77 5.852,14.386 0,18.916 		"/>
                                                <polygon class="gray-out" points="23.109,13.419 23.109,29.77 32.5,29.77 32.5,15.684 		"/>
                                                <path class="gray-out" d="M12.834,29.77h9.391V2.73h-9.391V29.77z M18.779,5.729h1.332v19.043h-1.332V5.729z M14.946,5.729h1.333v19.043h-1.333
                                                    V5.729z"/>
                                                </g>
                                                <style>
                                                .gray-out{
                                                    fill: #aaa;
                                                }
                                                </style>
                                            </svg>
                                    </span>
                                    <span class="comp-name">{{item?.CompanyName}}</span>

                                    <span class="loc-icon ml-3 ">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 264.018 264.018" width="20.5px" height="15.5px" style="enable-background:new 0 0 264.018 264.018;" xml:space="preserve">
                                       <g>
                                           <path class="gray-out" d="M132.009,0c-42.66,0-77.366,34.706-77.366,77.366c0,11.634,2.52,22.815,7.488,33.24c0.1,0.223,0.205,0.442,0.317,0.661
                                               l58.454,113.179c2.146,4.154,6.431,6.764,11.106,6.764c4.676,0,8.961-2.609,11.106-6.764l58.438-113.148
                                               c0.101-0.195,0.195-0.392,0.285-0.591c5.001-10.455,7.536-21.67,7.536-33.341C209.375,34.706,174.669,0,132.009,0z
                                                M132.009,117.861c-22.329,0-40.495-18.166-40.495-40.495c0-22.328,18.166-40.494,40.495-40.494s40.495,18.166,40.495,40.494
                                               C172.504,99.695,154.338,117.861,132.009,117.861z"/>
                                           <path class="gray-out" d="M161.81,249.018h-59.602c-4.143,0-7.5,3.357-7.5,7.5c0,4.143,3.357,7.5,7.5,7.5h59.602c4.143,0,7.5-3.357,7.5-7.5
                                               C169.31,252.375,165.952,249.018,161.81,249.018z"/>
                                       </g>
                                       <style>
                                            .gray-out{
                                                fill: #aaa;
                                            }
                                        </style>
                                       </svg>
                                    </span>
                                    <span class="loc-text">{{item?.JobLocation}}</span>
                                    <span class="ex-icon ml-3">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                             x="0px" y="0px"  width="20.5px" height="15.5px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                            <g>
                                                <path class="gray-out" d="M10.1,988.5c326.6,0,653.1,0,979.7,0c-0.3,0.4,0.6,1.3-0.6,1.2c-1.6,0-3.3,0-4.9,0c-322.9,0-645.8,0-968.7-0.1C13.9,989.7,11.5,991.1,10.1,988.5z"/>
                                                <path class="gray-out" d="M983.9,9.9c-322.6,0.1-645.3,0.1-967.9,0c-4.7,0-6.1,0.6-6.1,5.8c0.2,324.3,0.1,648.5,0.1,972.8c2.1,1.1,4.4,0.6,6.6,0.6c322.2,0,644.3,0,966.5,0c2.2,0,4.5,0.6,6.6-0.6c0-324.3,0-648.5,0.2-972.8C990,10.6,988.7,9.9,983.9,9.9z M908.5,915.3c-272.3-0.1-544.6-0.1-817,0c-5.6,0-6.9-1.4-6.9-6.9c0.2-136.4,0.1-272.7,0.1-409.1c0-136,0-271.9-0.1-407.9c0-5.6,1.4-6.9,6.9-6.9c272.3,0.1,544.6,0.1,817,0c5.6,0,6.9,1.4,6.9,6.9c-0.1,272.3-0.1,544.6,0,817C915.4,914,914,915.3,908.5,915.3z"/>
                                                <path class="gray-out" d="M176.5,531c0-80.7,0.1-161.4-0.1-242.2c0-5.3,1.2-6.6,6.6-6.6c89.9,0.2,179.8,0.2,269.7,0c5.4,0,6.7,1.3,6.6,6.6c-0.4,14.3-0.5,28.5,0,42.8c0.2,6.2-1.8,7.1-7.4,7.1c-67.3-0.2-134.5-0.1-201.8-0.3c-5,0-6.4,1-6.3,6.2c0.2,47.3,0.2,94.6,0,141.9c0,5.2,1.3,6.3,6.4,6.3c61.4-0.2,122.7-0.1,184.1-0.1c7.8,0,7.8,0,7.8,8.1c0,13.7-0.2,27.3,0.1,41c0.1,4.7-1.1,6.1-6,6.1c-62-0.2-123.9,0-185.9-0.3c-5.5,0-6.5,1.4-6.5,6.6c0.2,54.8,0.2,109.7,0,164.5c0,5.7,1.7,6.5,6.8,6.5c72.4-0.2,144.7-0.1,217.1-0.2c5,0,6.5,1,6.4,6.2c-0.4,14.5-0.4,28.9,0,43.4c0.1,4.7-1.3,5.6-5.8,5.6c-95.2-0.1-190.4-0.2-285.6,0c-5.4,0-6.1-1.8-6.1-6.5C176.5,692.8,176.5,611.9,176.5,531z"/>
                                                <path class="gray-out" d="M510.4,780.7c42.7-58.3,84.5-115.5,126.6-172.5c3.9-5.3,3.8-8.6,0.1-14c-37.6-54.9-74.8-110.1-112.1-165.2c-1.3-2-2.6-4-4.5-6.9c2.7,0,4.4,0,6.1,0c23.4,0,46.9,0.1,70.3-0.1c3.7,0,5.8,1.2,7.7,4.3c28.2,44.8,56.5,89.4,84.8,134.2c2.7-0.6,3.1-3.1,4.2-4.8c26.6-42.8,53.3-85.7,79.7-128.7c2.3-3.8,4.7-5.1,9.1-5c24.8,0.2,49.6,0.1,74.6,0.1c-0.1,2.5-1.8,3.9-2.8,5.5c-38.1,56.3-76.1,112.6-114.4,168.8c-2.6,3.9-2.6,6.1,0.2,9.8c43.6,57.7,86.9,115.5,130.4,173.4c-1.4,2-3.4,1-5,1c-24.5,0.1-48.9-0.1-73.4,0.2c-4.1,0-6.6-1.2-8.9-4.6c-29.6-42.6-59.4-85.1-89.2-127.6c-1.1-1.6-2.3-3.2-3.9-5.4c-1.7,2.3-3.1,4.1-4.4,6c-29.7,42.4-59.3,84.7-88.9,127.1c-2.2,3.2-4.4,4.5-8.4,4.5c-24-0.2-48.1-0.1-72.2-0.1C514.7,780.7,513.1,780.7,510.4,780.7z"/>
                                            </g>
                                                <style>
                                                    .gray-out{
                                                        fill: #aaa;
                                                    }
                                                </style>
                                            </svg>
                                    </span>
                                    <span class="loc-text">{{item?.Experince + ' years'}}</span>
                                    <span class="date-icon ml-3">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            width="20.5px" height="15.5px" viewBox="0 0 36.447 36.447" style="enable-background:new 0 0 36.447 36.447;"
                                            xml:space="preserve">
                                       <g>
                                           <g>
                                               <path class="gray-out" d="M30.224,3.947h-1.098V2.75c0-1.516-1.197-2.75-2.67-2.75c-1.474,0-2.67,1.234-2.67,2.75v1.197h-2.74V2.75
                                                   c0-1.516-1.197-2.75-2.67-2.75s-2.67,1.234-2.67,2.75v1.197h-2.74V2.75c0-1.516-1.197-2.75-2.67-2.75s-2.67,1.234-2.67,2.75v1.197
                                                   H6.224c-2.343,0-4.25,1.907-4.25,4.25v24c0,2.343,1.907,4.25,4.25,4.25h24c2.344,0,4.25-1.907,4.25-4.25v-24
                                                   C34.474,5.854,32.566,3.947,30.224,3.947z M25.286,2.75c0-0.689,0.524-1.25,1.17-1.25c0.645,0,1.17,0.561,1.17,1.25v4.895
                                                   c0,0.689-0.525,1.25-1.17,1.25c-0.646,0-1.17-0.561-1.17-1.25V2.75z M17.206,2.75c0-0.689,0.525-1.25,1.17-1.25
                                                   s1.17,0.561,1.17,1.25v4.895c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75z M9.125,2.75c0-0.689,0.525-1.25,1.17-1.25
                                                   s1.17,0.561,1.17,1.25v4.895c0,0.689-0.525,1.25-1.17,1.25s-1.17-0.561-1.17-1.25V2.75z M31.974,32.197
                                                   c0,0.965-0.785,1.75-1.75,1.75h-24c-0.965,0-1.75-0.785-1.75-1.75v-22h27.5V32.197z"/>
                                               <path class="gray-out" d="M17.375,23.22c0.554,0.554,1.449,0.552,2.001,0c0.554-0.553,0.555-1.448,0-2.002c-0.101-0.101-0.215-0.177-0.334-0.241
                                                   c-0.151-2.333-0.667-4.067-0.667-4.067s-0.515,1.735-0.666,4.067c-0.119,0.064-0.234,0.141-0.336,0.241
                                                   c-0.101,0.101-0.176,0.215-0.24,0.335c-2.331,0.15-4.067,0.666-4.067,0.666s1.736,0.516,4.068,0.665
                                                   C17.197,23.004,17.273,23.119,17.375,23.22z"/>
                                               <path class="gray-out" d="M18.375,31.775c5.271,0,9.557-4.287,9.557-9.557c0-5.27-4.286-9.557-9.557-9.557c-5.27,0-9.557,4.287-9.557,9.557
                                                   C8.818,27.488,13.105,31.775,18.375,31.775z M18.375,14.078c4.488,0,8.141,3.651,8.141,8.141c0,4.489-3.652,8.141-8.141,8.141
                                                   s-8.141-3.651-8.141-8.141C10.234,17.73,13.888,14.078,18.375,14.078z"/>
                                               <path class="gray-out" d="M18.375,30.006c4.293,0,7.788-3.493,7.788-7.787s-3.494-7.787-7.788-7.787c-4.294,0-7.787,3.493-7.787,7.787
                                                   C10.588,26.512,14.082,30.006,18.375,30.006z M18.375,15.14c3.903,0,7.079,3.175,7.079,7.079c0,3.903-3.176,7.079-7.079,7.079
                                                   s-7.079-3.175-7.079-7.079S14.473,15.14,18.375,15.14z"/>
                                           </g>
                                       </g>
                                       <style>
                                            .gray-out{
                                                fill: #aaa;
                                            }
                                            </style>
                                            </svg>
                                    </span>
                                    <span class="loc-text">{{item?.CreatedDate | date:'medium'}}</span>
                                </div>
                                <p class="card-text mt-2 mb-1">{{item?.Description}}</p>

                            </div>
                            <a class="view-more" (click)="showPopUp(imageModalTemplate, item)">View More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="add-new" (click)="addNewPost(template)">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 292.377 292.377" style="enable-background:new 0 0 292.377 292.377;" xml:space="preserve">
            <g>
                <path style="fill:orange;" d="M146.188,0C65.576,0,0,65.582,0,146.188s65.576,146.188,146.188,146.188
               s146.188-65.582,146.188-146.188S226.801,0,146.188,0z M194.962,152.155h-42.806v42.8c0,3.3-2.667,5.967-5.967,5.967
               c-3.3,0-5.967-2.667-5.967-5.967v-42.8H97.415c-3.294,0-5.967-2.673-5.967-5.967s2.673-5.967,5.967-5.967h42.806V97.415
               c0-3.294,2.667-5.967,5.967-5.967c3.3,0,5.967,2.673,5.967,5.967v42.806h42.806c3.3,0,5.967,2.673,5.967,5.967
               S198.261,152.155,194.962,152.155z" />
            </g>
        </svg>
    </div>
</div> -->
<ng-template #imageModalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{selectedItem?.JobTitle}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="imageModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="body-wrapper custom-scrollbar" *ngIf="selectedItem.PostImage !==null || selectedItem.PostImage !==''">
            <img src="{{getSelectedImage()}}" class="big-img" />
        </div>
        <div class="body-wrapper custom-scrollbar" *ngIf="selectedItem.PostImage ==null || selectedItem.PostImage ==''">
            <div class="row cust-table-row">
                <div class="col-4">
                    <p class="table-label">Company Name</p>
                </div>
                <div class="col-8">
                    <p class="table-value">{{selectedItem?.CompanyName ? selectedItem?.CompanyName : 'NA'}}</p>
                </div>
            </div>
            <div class="row cust-table-row">
                <div class="col-4">
                    <p class="table-label">Job Location</p>
                </div>
                <div class="col-8">
                    <p class="table-value">{{selectedItem?.JobLocation ? selectedItem?.JobLocation : 'NA'}}</p>
                </div>
            </div>
            <div class="row cust-table-row">
                <div class="col-4">
                    <p class="table-label">Experince</p>
                </div>
                <div class="col-8">
                    <p class="table-value">{{selectedItem?.Experince ? selectedItem?.Experince + ' years' : 'NA'}}</p>
                </div>
            </div>
            <div class="row cust-table-row">
                <div class="col-4">
                    <p class="table-label">Criteria</p>
                </div>
                <div class="col-8">
                    <p class="table-value">{{selectedItem?.Citeria ? selectedItem?.Citeria :'NA'}}</p>
                </div>
            </div>
            <div class="row cust-table-row">
                <div class="col-4">
                    <p class="table-label">Job Description</p>
                </div>
                <div class="col-8">
                    <p class="table-value">{{selectedItem?.Description ? selectedItem?.Description: 'NA'}}</p>
                </div>
            </div>
            <div class="row cust-table-row">
                <div class="col-4">
                    <p class="table-label">Contact Details</p>
                </div>
                <div class="col-8">
                    <p class="table-value">{{selectedItem?.ContactDetails? selectedItem?.ContactDetails : 'NA'}}</p>
                </div>
            </div>
            <div class="row cust-table-row">
                <div class="col-4">
                    <p class="table-label">Job Posted On</p>
                </div>
                <div class="col-8">
                    <p class="table-value">{{!selectedItem?.CreatedDate? 'NA': selectedItem?.CreatedDate | date:'medium'}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Post</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row cust-input-table">
            <div class="col-4">
                <p class="table-label">Job Title</p>
            </div>
            <div class="col-8">
                <input type="text" [(ngModel)]="inputObj.JobTitle" />
            </div>
        </div>
        <div class="row cust-input-table p-3">
            <h3>Please select best option</h3>
            <label class="container">Upload job post image
                    <input type="radio" value='upload' [(ngModel)]="inputObj.type" name="opt-radio">
                    <span class="checkmark"></span>
                  </label>
            <label class="container">Fill job details
                        <input type="radio" [(ngModel)]="inputObj.type" value='fill' name="opt-radio">
                        <span class="checkmark"></span>
            </label>
        </div>
        <div class="row cust-input-table" *ngIf="inputObj.type == 'upload'">
            <div class="col-4">
                <p class="table-label">Upload Image</p>
            </div>
            <div class="col-8">
                <input type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf" />
            </div>
        </div>
        <div class="row cust-input-table" *ngIf="inputObj.type == 'fill'">
            <div class="col-4">
                <p class="table-label">Company Name</p>
            </div>
            <div class="col-8">
                <input type="text" [(ngModel)]="inputObj.CompanyName" />
            </div>
        </div>
        <div class="row cust-input-table" *ngIf="inputObj.type == 'fill'">
            <div class="col-4">
                <p class="table-label">Job Location</p>
            </div>
            <div class="col-8">
                <input type="text" [(ngModel)]="inputObj.JobLocation" />
            </div>
        </div>
        <div class="row cust-input-table" *ngIf="inputObj.type == 'fill'">
            <div class="col-4">
                <p class="table-label">Experience</p>
            </div>
            <div class="col-8">
                <input type="text" [(ngModel)]="inputObj.Experience" />
            </div>
        </div>
        <div class="row cust-input-table" *ngIf="inputObj.type == 'fill'">
            <div class="col-4">
                <p class="table-label">Criteria</p>
            </div>
            <div class="col-8">
                <input type="text" [(ngModel)]="inputObj.Criteria" />
            </div>
        </div>
        <div class="row cust-input-table" *ngIf="inputObj.type == 'fill'">
            <div class="col-4">
                <p class="table-label">Description</p>
            </div>
            <div class="col-8">
                <textarea [(ngModel)]="inputObj.Description"></textarea>
            </div>
        </div>
        <div class="row cust-input-table" *ngIf="inputObj.type == 'fill'">
            <div class="col-4">
                <p class="table-label">Contact Details</p>
            </div>
            <div class="col-8">
                <input type="text" [(ngModel)]="inputObj.ContactDetails" />
            </div>
        </div>
    </div>
    <div class="modal-footer mt-4">
        <button type="button" class="btn btn-primary mr-2" (click)="saveDetails()">Submit</button>
        <button type="button" class="btn btn-default mr-2" (click)="modalRef.hide()">Cancel</button>
    </div>
</ng-template>
<ng-template #deletetemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirm</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this job post</p>
    </div>
    <div class="modal-footer mt-4">
        <button type="button" class="btn btn-primary mr-2" (click)="deleteJobPost()">Yes</button>
        <button type="button" class="btn btn-default mr-2" (click)="deleteModalRef.hide()">No</button>
    </div>
</ng-template>