.card-container {
  margin: 20px 20px 0 20px;
  padding: 20px;
  border: 1px solid #cccccc;
  width: 100%;
  overflow-y: scroll;

  .card-body {
    box-shadow: 0 0 5px #cccccc;
  }

  .body-content {
    display: flex;
  }

  .img-placeholder {
    min-width: 50px;
    max-width: 100px;
    width: auto;
    align-self: center;
  }
  .img-wrapper {
    border: 1px solid #aaa;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .add-new {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 75px;
    right: 75px;
  }

  .location {
    display: flex;

    .v-bar {
      width: 20px;
      margin-top: 3px;
    }

    .comp-name {
      font-weight: bold;
      text-transform: uppercase;
      align-self: center;
    }

    .loc-icon,
    .company-icon,
    .ex-icon {
      align-self: center;
    }

    .loc-text {
      font-size: 14px;
      font-weight: bold;
    }
    .card-text{
        font-size: 14px;
    }
  }
  .view-more {
    font-size: 11px;
    color: #3b3bf1;
    text-decoration: underline;
    cursor: pointer;
  }
  .job-image{
      width: 100%;
      height: 100%;
  }
  
}
.body-wrapper{
    overflow: auto;
}
.cust-table-row{
    margin: 0;

    .col-4{
        font-weight: bold;
    }
}
.cust-input-table{
    input,
    textarea{
        width: 100%;
    }
    h3{
      font-size: 16px;
    }
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }
    
    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196F3;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
}