.card-container {
  // margin: 20px 20px 0 20px;
  // padding: 20px;
  border: 1px solid #cccccc;
  // width: 100%;
  overflow-y: scroll;

  .card-body {
    box-shadow: 0 0 5px #cccccc;
  }

  .body-content {
    display: flex;
  }

  .img-placeholder {
    min-width: 50px;
    max-width: 100px;
    width: auto;
    align-self: center;
  }
  .img-wrapper {
    border: 1px solid #aaa;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  

  .location {
    display: flex;

    .v-bar {
      width: 20px;
      margin-top: 3px;
    }

    .comp-name {
      font-weight: bold;
      text-transform: uppercase;
      align-self: center;
    }

    .loc-icon,
    .company-icon,
    .ex-icon {
      align-self: center;
    }

    .loc-text {
      font-size: 14px;
      font-weight: bold;
    }
    .card-text{
        font-size: 14px;
    }
  }
  .view-more {
    font-size: 11px;
    color: #3b3bf1;
    text-decoration: underline;
    cursor: pointer;
  }
  .job-image{
      width: 100%;
      height: 100%;
  }
  
}
.body-wrapper{
    overflow: auto;
}
.cust-table-row{
    margin: 0;

    .col-4{
        font-weight: bold;
    }
}
.cust-input-table{
    input,
    textarea{
        width: 100%;

        @media (max-width: 575px) {
          margin: 5px;
        }
    }
    h3{
      font-size: 16px;
    }
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }
    
    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196F3;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
}
.add-new {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 75px;
  right: 75px;
}
.page-banner{
  min-height: 375px;
  background: url('/assets/img/v2/joblisting.jpg')  35% -120.1px repeat scroll transparent;
}
.banner-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
  background: rgb(57, 61, 62);
  opacity: 0.6;
}
.page-wrapper{
  position: relative;
}
.baner-caption{
  position: absolute;
  top: 30%;
  color: white;
  z-index: 2;
  width: 50%;
  text-align: center;
  left: 25%;
  font-size: 2rem;

  @media (max-width: 575px) {
    left: 10%;
    width: 80%;
    top: 5%;
  }


  &:hover{
    transition        : 1.0s ease all;
    -moz-transition   : 1.0s ease all;
    -webkit-transition: 1.0s ease all;
  
    background-color  : white;
    color             : #2196F3;
  }
  &.rotate {
    cursor: pointer;	
  }
  &.rotate:hover {
    transform               : rotate(360deg);
    -moz-transform          : rotate(360deg);
    -webkit-transform       : rotate(360deg);
    transform-origin        : center;
    -moz-transform-origin   : center;
    -webkit-transform-origin: center;
  
    transition              : transform 1.0s ease all;
    -moz-transition         : -moz-transform 1.0s ease all;
    -webkit-transition      : -webkit-transform 1.0s ease all;
  }

  
}
.section-2{
  padding-top: 40px;

  .post-block{
    margin-top: 40px;
  }

  .item-wrap {
    display: flex;
    height: 250px;
    border: 2px solid #e8ecec;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    transition: all 0.4s ease 0s;
    border-radius: 4px;
    position: relative;

    &:hover{
      box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
      border-color: #ffffff;
      margin-top: -10px;
    }

    .delete-post{
      position: absolute;
      right: 26px;
      top: 5px;
      font-size: 18px;
    }
  }
  .job-image{
    width: 60px;
    height: 60px;
    border-radius: 250px;
  }

  .content-part{
    text-align: center;
    flex: 1;
    font-size: 14px;
    font-family: monospace;
  }
  .content-footer {
    /* height: 50px; */
    width: 100%;
    display: flex;
    border-top: 1px solid #ccc;
    flex-direction: column;
    padding-top: 10px;

    p{
      font-size: 12px;
      margin-bottom: 5px;
      font-weight: bold;
    }
    a.view-details {
      font-size: 12px;
      align-self: flex-end;
      color: orange !important;
      font-weight: bold;
      border: 1px solid;
      padding: 6px;
      // border-radius: 20px;
      width: 90px;
      text-align: center;

      &:hover{
        background: orange;
        color: white !important;
      }
    }
  }
}
p.table-value {
  font-size: 14px;
  font-family: sans-serif;
}
p.table-label{
  font-size: 14px;
}
h4.modal-title{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}
input, p, label, textarea{
  font-family: sans-serif;
  font-size: 14px;
}