<div class="page-wrapper">
    <div class="banner-overlay"></div>
    <div class="page-banner">

    </div>
    <div class="baner-caption rotate">
        <h1>Want to hear about us:</h1>
        <p class="mt-2">
            Kolhapur IT'ians is nonprofit institution, dedicated to furthering a particular recently passout students as well as experienced
            people who is looking for a Job.
        </p>
        <p class="mt-2">The motto of this group is help people and their friends, a colleagues, neighbors or family members who is unemployed
            and looking for a job, this platform to help them in their job search. Members from this group lend a helping
            hand by doing something as simple as introducing someone to your contacts who could open doors for the their
            career.
        </p>
        <!-- <p class="mt-2">
            Our story has been about perseverance and focus towards one goal - making technical recruitment simple and efficient. And this journey has been no walk in the park - we have had our share of challenges and we know there are more to come in the future.
        </p> -->
        <!-- <p class="mt-2">
            Our story is continually changing, as the people who keep working with us are finding more innovative ways each passing day.
        </p> -->
    </div>
</div>
<div class="about-team mt-4 mb-4">
    <div class="container">

        <div class="row">

            <div class="col-12">
                <h1 class="section-heading">OUR MOTTO</h1>
                <p class="mt-4">Job hunting can be a lonely and stressful experience. When someone is looking for a job, they need all the
                    help, support and encouragement that they can possibly get.</p>
                <p class="mt-3">Sometimes we don’t offer help because we are not sure how to go about offering help to a job seeker. However,
                    any help is better than none and that's where Kolhapur IT'ians come into existance with group of few
                    people and their friends and so on it continue to grow.</p>

            </div>
        </div>
    </div>
</div>
<div class="section-3">
    <div class="img-block pb-4">
        <h1>HOW THIS HELP</h1>
        <p class="note">"This platform help professionals, students to make personal referrals and help people to ..."</p>
        <div class="container mt-4">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="content-holder mt-4 p-4 mb-4">
                        <div class="img-wrap">
                            <img src="../../../../assets/img/v2/diamond.png" class="sec3-img" />
                        </div>
                        <div class="content-wrap mt-4">
                            <p> Suggest Job Leads</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="content-holder mt-4 p-4 mb-4">
                        <div class="img-wrap">
                            <img src="../../../../assets/img/v2/diamond.png" class="sec3-img" />
                        </div>
                        <div class="content-wrap mt-4">
                            <p>Take a Job Seeker to a Job Fair or a Networking Even</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="content-holder mt-4 p-4 mb-4">
                        <div class="img-wrap">
                            <img src="../../../../assets/img/v2/diamond.png" class="sec3-img" />
                        </div>
                        <div class="content-wrap mt-4">
                            <p>Share Personal success / experiences</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="content-holder mt-4 p-4 mb-4">
                        <div class="img-wrap">
                            <img src="../../../../assets/img/v2/diamond.png" class="sec3-img" />
                        </div>
                        <div class="content-wrap mt-4">
                            <p> Be a Friend, during those moments in life when we are at our lowest points. Never ostracize,
                                sideline or look down upon someone simply because they do not have a job. Be there and be
                                available
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="section-2">
    <h1>OUR <span class="">SOCIAL</span> <span class="highlight">&nbsp;CONTRIBUTIONS</span></h1>
    <p>Kolhapur IT'ians support helps in so many ways to those impacted people of society during crises</p>

    <div class="container">
        <div class="row">
            <div class="col-md-6 people-img">
                <div class="c-wrapper">
                    <carousel>
                        <slide>
                            <img src="../../../../assets/img/abt/1.jpg" alt="third slide" style="display: block; width: 100%;">

                        </slide>
                        <slide>
                            <img src="../../../../assets/img/abt/2.jpg" alt="second slide" style="display: block; width: 100%;">

                        </slide>
                        <slide>
                            <img src="../../../../assets/img/abt/3.jpg" alt="first slide" style="display: block; width: 100%;">

                        </slide>
                        <slide>
                            <img src="../../../../assets/img/abt/4.jpg" alt="first slide" style="display: block; width: 100%;">

                        </slide>
                        <slide>
                            <img src="../../../../assets/img/abt/5.jpg" alt="first slide" style="display: block; width: 100%;">

                        </slide>
                    </carousel>

                </div>
            </div>
            <div class="icon-wrap col-12 col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <p class="mt-2">More than a million people have been affected by severe flooding in Kolhapur, sangli area in Maharashtra
                            India
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="mt-2">Kolhapur IT'ians team worked together dedicately and gathered funds for flood-stricken families in
                            Kolhapur & Sangli district. Kolhapur-Itians family is a success and encourage us to strive better
                            for ourselves and our people.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="mt-2">Kolhapur IT'ians support helps in so many ways to those impacted people life caused by flooding
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="mt-2">Kolhapur IT'ians raised the fund which provided relief to survivors in the form of emergency supplies like food, Female essentials and kitchen utensils in addition to longer-term recovery assistance to help residents recover and rebuild
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>