.page-banner {
  min-height: 375px;
  background: url("/assets/img/v2/about1.jpg") 35% -120.1px repeat scroll transparent;

  @media (max-width: 900px) {
    min-height: 600px;
    background: url("/assets/img/v2/about1.jpg") 82% -120.1px repeat scroll transparent;
  }
}
.banner-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
  background: rgb(57, 61, 62);
  opacity: 0.6;
}
.page-wrapper {
  position: relative;
}
.baner-caption {
  position: absolute;
  top: 39px;
  color: whitesmoke;
  z-index: 2;
  width: 50%;
  text-align: center;
  left: 23%;
  font-size: 2rem;
  padding: 15px;
    border-radius: 10px;

  p {
    font-size: 1rem;
  }

  @media (max-width: 575px) {
    left: 10%;
    width: 80%;
    top: 5%;
  }

  &.rotate {
    cursor: pointer;
  }
}
.header-text{
    text-align: center;
    font-weight: bold;
    color: #6ec9f7;
    text-transform: uppercase;
}
.post-block{
    margin-top: 60px;

    
}
.item-wrap {
    display: flex;
    height: 275px;
    border: 2px solid #e8ecec;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    transition: all 0.4s ease 0s;
    border-radius: 4px;
    position: relative;

    &:hover {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-color: #ffffff;
      margin-top: -10px;

      .logo-part {
        border-color: #ffffff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .logo-part {
    position: absolute;
    top: -35px;
    left: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 8px;
    background: white;
  }

  .job-image {
    width: 60px;
    height: 60px;
    border-radius: 250px;
  }

  .content-part {
    text-align: center;
    flex: 1;
    font-size: 2rem;
    font-family: monospace;
  }
  .content-footer {
    /* height: 50px; */
    width: 100%;
    display: flex;
    border-top: 1px solid #ccc;
    flex-direction: column;
    padding-top: 10px;

    p {
      font-size: 12px;
      margin-bottom: 5px;
      font-weight: bold;
    }
}
.section-heading{
  text-align: center;
  padding-top: 25px;
  color: #6ec9f7;
}
.section-3{
  .img-block{
    background-image: url('/assets/img/v2/bg-black.jpg')
}
  h1{
      text-align: center;
      padding-top: 25px;
      color: #6ec9f7;
  }
  p{
      text-align: center;
      color: whitesmoke;
      font-size: 14px;
  }
  .note{
      margin-bottom: 20px;
  }
  .img-wrap{
      text-align: center;
  }
  .content-holder{
      border: 1px solid #4c4d4e;
      padding: 20px;
      border-top-left-radius: 500px;
      border-top-right-radius: 500px;
      min-height: 335px;
  }
  .sec3-img{
    width: 100px;
  }
}
.section-2{
  margin-bottom: 20px;
  h1{
      text-align: center;
      margin-top: 25px;
      span{
          font-weight: bold;
          color: #6ec9f7;
      }
  }
  p{
      text-align: center;
  }

  .icon-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  .icon-col{
      text-align: center;
  }
  .icon-cust{
      font-size: 50px;
      color: #6ec9f7;
  }
  @media (max-width: 992px) {
      .people-img{
          // display: none;
      }

     
  }
  @media (max-width: 575px) {
    .highlight{
      display: block;
    }
  }
  
}