<div class="setion1-wrapper">
    <div class="c-wrapper">
        <carousel>
            <slide>
                <img src="../../../../assets/img/slider/6.jpeg" alt="third slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h3>Third slide label</h3> -->
                    <p>Platform to discuss trending technologies in market to encourage & guide IT candidates to grow in their
                        career.
                    </p>
                </div>
            </slide>
            <slide>
                <img src="../../../../assets/img/slider/2.jpg" alt="second slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">

                    <p>Platform to share global job opportunities for fresh & experienced candidates,</p>
                </div>
            </slide>
            <slide>
                <img src="../../../../assets/img/slider/4.jpg" alt="first slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </slide>
        </carousel>

    </div>
    <div class="cw-wrapper">
        <h3>About Us</h3>
        <carousel>
            <slide>
                <img src="../../../../assets/img/abt/1.jpg" alt="third slide" class="abt-img" style="display: block;">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h3>Third slide label</h3> -->
                    <p>*Kolhapur IT'ians'* team worked together dedicately and gathered funds for flood-stricken families in
                        Kolhapur & Sangli district. Kolhapur-Itians family is a success and encourage us to strive better
                        for ourselves and our people</p>
                </div>
            </slide>
            <slide>
                <img src="../../../../assets/img/abt/2.jpg" alt="third slide" class="abt-img" style="display: block;">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h3>Third slide label</h3> -->
                    <p>*Kolhapur IT'ians'* team worked together dedicately and gathered funds for flood-stricken families in
                        Kolhapur & Sangli district. Kolhapur-Itians family is a success and encourage us to strive better
                        for ourselves and our people</p>
                </div>
            </slide>
            <slide>
                <img src="../../../../assets/img/abt/3.jpg" alt="third slide" class="abt-img" style="display: block;">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h3>Third slide label</h3> -->
                    <p>*Kolhapur IT'ians'* team worked together dedicately and gathered funds for flood-stricken families in
                        Kolhapur & Sangli district. Kolhapur-Itians family is a success and encourage us to strive better
                        for ourselves and our people</p>
                </div>
            </slide>
            <slide>
                <img src="../../../../assets/img/abt/4.jpg" alt="third slide" class="abt-img" style="display: block;">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h3>Third slide label</h3> -->
                    <p>*Kolhapur IT'ians'* team worked together dedicately and gathered funds for flood-stricken families in
                        Kolhapur & Sangli district. Kolhapur-Itians family is a success and encourage us to strive better
                        for ourselves and our people</p>
                </div>
            </slide>
            <slide>
                <img src="../../../../assets/img/abt/5.jpg" alt="third slide" class="abt-img" style="display: block;">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h3>Third slide label</h3> -->
                    <p>*Kolhapur IT'ians'* team worked together dedicately and gathered funds for flood-stricken families in
                        Kolhapur & Sangli district. Kolhapur-Itians family is a success and encourage us to strive better
                        for ourselves and our people</p>
                </div>
            </slide>
        </carousel>

    </div>
</div>