<!-- <div class="fluid-container">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img class="header-img" src="../../assets/img/429.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let item of headerItems">
          <a class="nav-link" routerLinkActive="active" routerLink="{{item?.redirectTo}}">{{item.name}} </a>
        </li>        
      </ul>
    </div>
  </nav>
  <div class="center-content">
    <router-outlet></router-outlet>
    
  </div>
</div> -->
