<div class="header-wrapper fluid-container">
    <div class="row m-0">
        <div class="container">
            <nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                    aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="header-img" src="../../assets/img/v2/logo.png" /></a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Job Posting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Seminar/Trainings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Referances</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Our Story</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Society Contributions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign up</a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>

                </div>
            </nav>
        </div>
    </div>
</div>