// .container {
//   height: 3000px;
// }

.navbar {
  height: 80px;
  width: 100%;
}

.content {
  margin-top: 80px;
}
@media (max-width: 1199px) {
  .navbar-brand{
    width: calc(100% - 72px);
  }
  #navbarTogglerDemo03{
    background: #343a40!important;
  }
  .nav-item{
    padding: 10px 20px;
    &.active{

    }
  }
  .btn-outline-success{
    margin-left: 20px;

    &.active-btn{
      color: #fff;
      background-color: #28a745;
      border-color: #28a745;
    }
  }
}
.nav-item{
  &.active{
    text-decoration: underline;
  }
}
.active-btn{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}