<div class="section-2 mb-4">
  <div class="container">
    <h2>Users Pending for Approval</h2>
    <div class="row">
      <ng-container *ngFor="let item of allTableData;let i = index;">
        <div class="col-12 col-md-4 post-block" *ngIf="item.ApprovalStatus == 'P'">
          <div class="item-wrap">
            <div class="logo-part">
              <span class="logo-wrap">
                                <img src="./assets/img/v2/emoji.png" class="job-image" />
                        </span>
            </div>
            <div class="admin-strip" title="Person is Admin" *ngIf="item?.IsAdmin">
              <p>Admin</p>
            </div>
            <div class="content-part mt-4" title="Name">
              {{item?.Name}}
            </div>
            <div class="content-footer">
              <p><span class="ft-text" title="Mobile Number"><i class="fa fa-phone-square mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.MobileNumber}}</span></p>
              <p><span class="ft-text" title="Email Address"><i class="fa fa-envelope mr-1" aria-hidden="true"></i> </span>
                <span class="ft-val">{{item?.Email}}</span></p>
              <p>
                <span class="row-wrap">
                        <span class="col-wrap">
                            <span class="ft-text" title="Organisation Name"><i class="fa fa-briefcase mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.Organisation}}</span>
                </span>
                <span class="col-wrap">
                            <span class="ft-text" title="Location"><i class="fa fa-map-marker mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.Location}}</span>
                </span>
                </span>
              </p>
              <p>
                <span class="row-wrap">
                          <span class="col-wrap">
                              <span class="ft-text" title="Designation"><i class="fa fa-black-tie mr-2" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.JobPost}}</span>
                </span>
                <span class="col-wrap">
                              <span class="ft-text" title="Password"><i class="fa fa-unlock-alt mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.Password}}</span>
                </span>
                </span>
              </p>
              <p><span class="ft-text" title="Technical Skills"><i class="fa fa-graduation-cap mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.TechnicalSkill}}</span></p>

              <!-- <a class="view-details" (click)="showPopUp(imageModalTemplate, item)">View Details</a> -->
            </div>
            <div class="content-footer">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" [(ngModel)]="item.IsAdmin" [class.disabled]="isDisabled(item)" aria-label="Checkbox for following text input">
                  </div>
                </div>
                <label class="mb-0 ml-2 mt-1">Make user admin</label>
              </div>

              <div class="btn-wrap">
                <span class="reject-wrap">
                          <a class="view-details" style="cursor: pointer;" (click)="reject(item?.ID)" [class.disabled]="isDisabled(item)">Reject</a>
                      </span>
                <span class="approve-wrap">
                          <a class="view-details" style="cursor: pointer;" (click)="approve(item?.ID)" [class.disabled]="isDisabled(item)">Approve</a>
                      </span>

              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <hr/>
    <h2 class="mt-4">Approved Users</h2>
    <div class="row">
      <ng-container *ngFor="let item of allTableData;let i = index;">
        <div class="col-12 col-md-4 post-block" *ngIf="item.ApprovalStatus == 'A'">
          <div class="item-wrap item-without-footer">
            <div class="logo-part">
              <span class="logo-wrap">
                              <img src="./assets/img/v2/emoji.png" class="job-image" />
                      </span>
            </div>
            <div class="admin-strip" title="Person is Admin" *ngIf="item?.IsAdmin">
              <p>Admin</p>
            </div>
            <div class="content-part mt-4" title="Name">
              {{item?.Name}}
            </div>
            <div class="content-footer">
              <p><span class="ft-text" title="Mobile Number"><i class="fa fa-phone-square mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.MobileNumber}}</span></p>
              <p><span class="ft-text" title="Email Address"><i class="fa fa-envelope mr-1" aria-hidden="true"></i> </span>
                <span class="ft-val">{{item?.Email}}</span></p>
              <p>
                <span class="row-wrap">
                      <span class="col-wrap">
                          <span class="ft-text" title="Organisation Name"><i class="fa fa-briefcase mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.Organisation}}</span>
                </span>
                <span class="col-wrap">
                          <span class="ft-text" title="Location"><i class="fa fa-map-marker mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.Location}}</span>
                </span>
                </span>
              </p>
              <p>
                <span class="row-wrap">
                        <span class="col-wrap">
                            <span class="ft-text" title="Designation"><i class="fa fa-black-tie mr-2" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.JobPost}}</span>
                </span>
                <span class="col-wrap" style="display: none;">
                            <span class="ft-text" title="Password"><i class="fa fa-unlock-alt mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.Password}}</span>
                </span>
                </span>
              </p>
              <p><span class="ft-text" title="Technical Skills"><i class="fa fa-graduation-cap mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.TechnicalSkill}}</span></p>

              <!-- <a class="view-details" (click)="showPopUp(imageModalTemplate, item)">View Details</a> -->
            </div>
            <!-- <div class="content-footer">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" [(ngModel)]="item.IsAdmin" [class.disabled]="isDisabled(item)" aria-label="Checkbox for following text input">
                  </div>
                </div>
                <label class="mb-0 ml-2 mt-1">Make user admin</label>
              </div>

              <div class="btn-wrap">
                <span class="reject-wrap">
                        <a class="view-details" (click)="reject(item?.ID)" [class.disabled]="isDisabled(item)">Reject</a>
                    </span>
                <span class="approve-wrap">
                        <a class="view-details" (click)="approve(item?.ID)" [class.disabled]="isDisabled(item)">Approve</a>
                    </span>

              </div>
            </div> -->
          </div>
        </div>
      </ng-container>

    </div>
    <hr/>
    <h2 class="mt-4">Rejected Users</h2>
    <div class="row">
      <ng-container *ngFor="let item of allTableData;let i = index;">
        <div class="col-12 col-md-4 post-block" *ngIf="item.ApprovalStatus == 'R'">
          <div class="item-wrap item-without-footer">
            <div class="logo-part">
              <span class="logo-wrap">
                              <img src="./assets/img/v2/emoji.png" class="job-image" />
                      </span>
            </div>
            <div class="admin-strip" title="Person is Admin" *ngIf="item?.IsAdmin">
              <p>Admin</p>
            </div>
            <div class="content-part mt-4" title="Name">
              {{item?.Name}}
            </div>
            <div class="content-footer">
              <p><span class="ft-text" title="Mobile Number"><i class="fa fa-phone-square mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.MobileNumber}}</span></p>
              <p><span class="ft-text" title="Email Address"><i class="fa fa-envelope mr-1" aria-hidden="true"></i> </span>
                <span class="ft-val">{{item?.Email}}</span></p>
              <p>
                <span class="row-wrap">
                      <span class="col-wrap">
                          <span class="ft-text" title="Organisation Name"><i class="fa fa-briefcase mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.Organisation}}</span>
                </span>
                <span class="col-wrap">
                          <span class="ft-text" title="Location"><i class="fa fa-map-marker mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.Location}}</span>
                </span>
                </span>
              </p>
              <p>
                <span class="row-wrap">
                        <span class="col-wrap">
                            <span class="ft-text" title="Designation"><i class="fa fa-black-tie mr-2" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.JobPost}}</span>
                </span>
                <span class="col-wrap">
                            <span class="ft-text" title="Password"><i class="fa fa-unlock-alt mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.Password}}</span>
                </span>
                </span>
              </p>
              <p><span class="ft-text" title="Technical Skills"><i class="fa fa-graduation-cap mr-1" aria-hidden="true"></i></span>
                <span class="ft-val">{{item?.TechnicalSkill}}</span></p>

              <!-- <a class="view-details" (click)="showPopUp(imageModalTemplate, item)">View Details</a> -->
            </div>
            <!-- <div class="content-footer">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" [(ngModel)]="item.IsAdmin" [class.disabled]="isDisabled(item)" aria-label="Checkbox for following text input">
                  </div>
                </div>
                <label class="mb-0 ml-2 mt-1">Make user admin</label>
              </div>

              <div class="btn-wrap">
                <span class="reject-wrap">
                        <a class="view-details" (click)="reject(item?.ID)" [class.disabled]="isDisabled(item)">Reject</a>
                    </span>
                <span class="approve-wrap">
                        <a class="view-details" (click)="approve(item?.ID)" [class.disabled]="isDisabled(item)">Approve</a>
                    </span>

              </div>
            </div> -->
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>



<!-- <div class="approv-reject-card custom-scrollbar">
  <div class="tab-wrapper">
    <div class="tab-header">
      <ul class="th-list">
        <li class="th-item" (click)="itemClicked('p')" [ngClass]="{'active': isActive == 'p'}">Pending Request</li>
        <li class="th-item" (click)="itemClicked('a')" [ngClass]="{'active': isActive == 'a'}">Approved/Rejected Request</li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-content-wrapper" *ngIf="isActive == 'p'">
        <div class="table-responsive-lg">
          <table class="table">

            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">MobileNumber</th>
                <th scope="col">Email</th>
                <th scope="col">Organisation</th>
                <th scope="col">Location</th>
                <th scope="col">JobPost</th>
                <th scope="col">TechnicalSkill</th>
                <th scope="col">IsAdmin</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableData">
                <td>{{item?.Name}}</td>
                <td>{{item?.MobileNumber}}</td>
                <td>{{item?.Email}}</td>
                <td>{{item?.Organisation}}</td>
                <td>{{item?.Location}}</td>
                <td>{{item?.JobPost}}</td>
                <td>{{item?.TechnicalSkill}}</td>
                <td>
                  <input type="checkbox" [(ngModel)]="item.IsAdmin" />
                </td>
                <td>
                  <button type="button" (click)="approve(item?.ID)" *ngIf="item?.ApprovalStatus == 'P'" class="btn mr-2 mb-1 btn-success">Approve</button>
                  <button type="button" (click)="reject(item?.ID)" *ngIf="item?.ApprovalStatus == 'P'" class="btn btn-danger">Reject</button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-content-wrapper" *ngIf="isActive == 'a'">
        <div class="table-responsive-lg">
          <table class="table">

            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">MobileNumber</th>
                <th scope="col">Email</th>
                <th scope="col">Organisation</th>
                <th scope="col">Location</th>
                <th scope="col">JobPost</th>
                <th scope="col">TechnicalSkill</th>
                <th scope="col">Password</th>
                <th scope="col">IsAdmin</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allTableData">
                <td>{{item?.Name}}</td>
                <td>{{item?.MobileNumber}}</td>
                <td>{{item?.Email}}</td>
                <td>{{item?.Organisation}}</td>
                <td>{{item?.Location}}</td>
                <td>{{item?.JobPost}}</td>
                <td>{{item?.TechnicalSkill}}</td>
                <td>{{item?.Password}}</td>
                <td>
                  {{item?.IsAdmin == true ? 'Yes' : 'No'}}
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div> -->