/* You can add global styles to this file, and also import other style files */
*{
    font-family: sans-serif;
}
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
app-posting,
app-listing,
app-approve-reject,
app-authentication,
app-section-one,
app-under-construction,
app-traings{
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
}

.custom-scrollbar{
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 20px;
    }
}
.modal-dialog{
    max-width: 80%;

    @media (max-width: 575px) {
        max-width: 98%;
      }
}
.mat-drawer{
    visibility:unset !important;
    left: 65px;
    border-right: 1px solid #cccccc;
    width: 65px;
    background: white;
    height: 68px;
    &.mat-drawer-opened{
        width: 200px;
        left: 0;
        height: 100%;

        .side-nav-list{
            display: block;
        }
    }
    .side-nav-list{
        display: none;
    }
    .mat-drawer-inner-container{
        overflow: hidden;
        background: #2b2b3e;
    }
}
app-header{
    height: 80px;
}