/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Raleway', sans-serif;
}
app-posting,
app-listing{
    display: flex;
    height: 100%;
    flex: 1;
}

.custom-scrollbar{
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 20px;
    }
}
.modal-dialog{
    max-width: 80%;
}