<div class="setion1-wrapper">
    <div class="c-wrapper">
        <carousel>
            <slide>
                <img src="../../../../assets/img/v2/slide1.jpg" alt="third slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-md-block">
                    <!-- <h3>Third slide label</h3> -->
                    <div class="caption">
                        <h3>BEST PLACE TO BUILD YOUR FUTURE</h3>
                        <p>Platform to discuss trending technologies in market to encourage & guide IT candidates to grow in
                            their career.
                        </p>
                    </div>
                </div>
            </slide>
            <slide>
                <img src="../../../../assets/img/v2/slide2.jpg" alt="second slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-md-block">
                    <div class="caption">
                        <h3>START BUILDING YOUR OWN CAREER NOW</h3>
                        <p>Platform to share global job opportunities for fresh & experienced candidates,</p>

                    </div>

                </div>
            </slide>
            <slide>
                <img src="../../../../assets/img/v2/slide3.jpg" alt="first slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-md-block">
                    <div class="caption">
                        <h3>BUILD YOUR FUTURE IN CLICKS</h3>
                        <p>Platform to share global job opportunities for fresh & experienced candidates,</p>

                    </div>
                </div>
            </slide>
        </carousel>

    </div>
    <div class="section-2">
        <h1>Welcome to <span class="">KOLHAPUR'</span> <span class="highlight">ITIANS</span> Space</h1>
        <p>A place where folks from leading corporates helping you to find your best job</p>

        <div class="container">
            <div class="row">
                <div class="col-md-6 people-img">
                    <img src="../../../../assets/img/v2/section2-img.jpg" class="side-img" />
                </div>
                <div class="icon-wrap col-12 col-lg-6">
                    <div class="row">
                        <div class="col-12 col-md-6 icon-col">
                            <i class="fa fa-users icon-cust" aria-hidden="true"></i>
                            <p class="mt-2">Community of 1000+ members</p>
                        </div>
                        <div class="col-12 col-md-6 icon-col">
                            <i class="fa fa-briefcase icon-cust" aria-hidden="true"></i>
                            <p class="mt-2">Jobs from top notch corporates</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 icon-col">
                            <i class="fa fa-anchor icon-cust" aria-hidden="true"></i>
                            <p class="mt-2">Free guidance and support from experts</p>
                        </div>
                        <div class="col-12 col-md-6 icon-col">
                            <i class="fa fa-check-circle icon-cust" aria-hidden="true"></i>
                            <p class="mt-2">Only relevant and verified job posts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-3">
        <div class="img-block pb-4">
            <h1>HOW IT WORK</h1>
            <p class="note">"We Help People To Get Successful Job And Became Professionals"</p>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="content-holder mt-4 p-4 mb-4">
                            <div class="img-wrap">
                                <img src="../../../../assets/img/v2/light-bulb.png" class="sec3-img" />
                            </div>
                            <div class="content-wrap mt-4">
                                <p>Register an account</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="content-holder mt-4 p-4 mb-4">
                            <div class="img-wrap">
                                <img src="../../../../assets/img/v2/mobile.png" class="sec3-img" />
                            </div>
                            <div class="content-wrap mt-4">
                                <p>Specify & search your job</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="content-holder mt-4 p-4 mb-4">
                            <div class="img-wrap">
                                <img src="../../../../assets/img/v2/content.png" class="sec3-img" />
                            </div>
                            <div class="content-wrap mt-4">
                                <p>Find your dream job</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="content-holder mt-4 p-4 mb-4">
                            <div class="img-wrap">
                                <img src="../../../../assets/img/v2/diamond.png" class="sec3-img" />
                            </div>
                            <div class="content-wrap mt-4">
                                <p>Apply for job</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section-4">
        <div class="bg-holder">
            <div class="content-box">
                <h1>CONTACT WITH US</h1>
                <p>"If You Want To Be Successful In This World, You Have To Follow Your Passion, Not A Paycheck</p>
            </div>
            <div class="container contact-box mt-4">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="content-node mb-4">
                            <span class="content-label">
                                <i class="fa fa-home mr-2" aria-hidden="true"></i>
                                <span class="label">Office Address</span>
                            </span>
                            <p>Lorem Ipsum,</p>
                            <p>Kharadi West Pune</p>
                        </div>
                        <div class="content-node mt-4 mb-4">
                            <span class="content-label">
                                <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                                <span class="label">Phone Number</span>
                            </span>
                            <p>+91-9876543210</p>
                        </div>
                        <div class="content-node mb-4">
                            <span class="content-label">
                                <i class="fa fa-envelope mr-2" aria-hidden="true"></i>
                                <span class="label">Email Address</span>
                            </span>
                            <p>support@kolhapur.com</p>
                            <p>testmail@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                            <form class="form-horizontal" method="post">
                                    
                                            <fieldset>
                                            
                                                <div class="control-group">
                                                <div class="control-label"><label id="jform_name-lbl" for="jform_name" class="required">
                                        Your Name<span class="star">&nbsp;*</span></label>
                                    </div>
                                            <div class="controls"><input type="text" name="jform[name]" id="jform_name" value="" class="required" placeholder="Your name" required="" aria-required="true">
                                    </div>
                                    </div>
                                    <div class="control-group">
                                                <div class="control-label"><label id="jform_email-lbl" for="jform_email" class="required">
                                        Your Email<span class="star">&nbsp;*</span></label>
                                    </div>
                                            <div class="controls"><input type="email" name="jform[email]" class="validate-email required" id="jform_email" value="" placeholder="Your email" required="" aria-required="true"></div>
                                    </div>
                                    <div class="control-group">
                                                <div class="control-label"><label id="jform_subject-lbl" for="jform_subject" class="required">
                                        Your Subject<span class="star">&nbsp;*</span></label>
                                    </div>
                                            <div class="controls"><input type="text" name="jform[subject]" id="jform_subject" value="" class="required" placeholder="Email Subject" required="" aria-required="true">
                                    </div>
                                    </div>
                                    <div class="control-group">
                                                <div class="control-label"><label id="jform_body-lbl" for="jform_body" class="required">
                                        Your Message<span class="star">&nbsp;*</span></label>
                                    </div>
                                            <div class="controls"><textarea name="jform[body]" id="jform_body" class="required" placeholder="Write your message" required="" aria-required="true"></textarea></div>
                                    </div>
                                                
                                                <div class="control-group">
                                    
                                                    <div class="controls">
                                                        
                                                        <div id="qx-element-contact-form-msg"></div>
                                    
                                                        <button id="qx-element-contact-form-submit" type="submit" class="qx-btn qx-btn-primary">
                                                            
                                                            Send                    
                                                        </button>
                                    
                                                    </div>
                                                </div>
                                                
                                                <input type="hidden" name="option" value="com_quix">
                                                <input type="hidden" name="task" value="ajax">
                                                <input type="hidden" name="element" value="contact-form">
                                                <input type="hidden" name="format" value="json">
                                                <input type="hidden" name="jform[info]" value="eyJlbWFpbCI6InN1cHBvcnRAd2Vpbm5vdmF0LmNvbSIsImNhcHRjaGFfZW5hYmxlZCI6dHJ1ZSwiZW50cmFuY2UiOiIiLCJhbmltYXRpb24iOiJmYWRlSW5VcCIsImFuaW1hdGlvbl9kZWxheSI6IjAuMyIsImhvdmVyIjoiIiwiaG92ZXJfYW5pbWF0aW9uIjowLCJob3Zlcl9zaGFkb3ciOiIiLCJob3Zlcl9zaGFkb3dfY29sb3IiOiIiLCJob3Zlcl9zaGFkb3dfYmx1ciI6MCwiaG92ZXJfc2hhZG93X3NwcmVhZCI6MCwiaG92ZXJfc2hhZG93X2hvcml6b250YWwiOjAsImhvdmVyX3NoYWRvd192ZXJ0aWNhbCI6MCwiaG92ZXJfc2NhbGVfZW5hYmxlZCI6ZmFsc2UsImhvdmVyX3NoYWRvd19zY2FsZSI6MSwiaWRlbnRpZmllciI6IiIsImxhYmVsIjoiQ29udGFjdCBGb3JtIiwiaWQiOiJxeC1jb250YWN0LWZvcm0tNjQxMDQiLCJjbGFzcyI6ImV0LWNvbnRhY3QtZm9ybSJ9">
                                    
                                                <input type="hidden" name="025d9e1ed95020137744dfc4eba93f5e" value="1">        
                                            </fieldset>
                                    
                                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>